<div class="container bg-warning pb-5">

<!--  First component when the user enters the page-->
  <i class="display-3">Personalised Clothing</i>
  <div class="card-deck">
<!--    first row, first card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/bag.jpg" alt="Personalised bags">
      <div class="card-img-overlay text">
        <h2 class="card-title font-weight-bold bg-success text-white">Bags</h2>
      </div>
    </div>
<!--    first row, second card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/hiVis.jpg" alt="Personalised hiVis">
      <div class="card-img-overlay">
        <p class="card-text font-weight-bold bg-primary text-white align-bottom">Personalised Hi-Vis</p>
      </div>
    </div>
<!--    // first row, third card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/mask.jpg" alt="Personalised masks">
      <div class="card-img-overlay">
        <h2 class="card-title font-weight-bolder text-black-50 align-baseline">Personalised Masks</h2>
      </div>
    </div>
  </div>
  <div class="card-deck pt-5">
<!--    // second row, first card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/tshirt.jpg" alt="Personalised t-shirts">
      <div class="card-body">
        <p class="card-text">Personalised t-shirts</p>
      </div>
    </div>
<!--    // second row, second card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/shirt.jpg" alt="Personalised shirts">
      <div class="card-body">
        <h2 class="card-title">Personalised Shirts</h2>
      </div>
    </div>
<!--    // second row, third card-->
    <div class="card">
      <img class="card-img-top" src="../assets/images/jacket.jpg" alt="Personalised Jackets">
      <div class="card-body">
        <h2 class="card-title bg-dark font-weight-bolder">Personalised Jackets</h2>
      </div>
    </div>
  </div>


  <iframe class="pt-5" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fholistictherapies.belfast.5%2Fposts%2F1824734320935786&show_text=true&width=552&height=223&appId" width="552" height="223" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>





</div>


