<div class="container">

<!--
First component when the user enters the page-->
  <div class="row">
    <div class="col-6 p-1">
      <div class="card text-white bg-secondary mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/images/business.jpg" class="card-img" alt="Business Garments printed">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-warning font-weight-bolder text-center">Business Printing</h5>
              <div class="card-text list text-lg-center">
                <ul>
                  <li>Polo Shirts/T-Shirts</li>
                  <li>Softshell Jackets</li>
                  <li>Hoodies/Sweatshirts</li>
                  <li>High Visibility Workwear, etc.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 p-1">

      <div class="card text-dark bg-warning mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-black font-weight-bolder text-center">Sporting Crests</h5>
              <div class="card-text text-center">
                <ul>
                  <li>GAA Club Teams</li>
                  <li>GAA County Teams</li>
                  <li>Rugby Teams</li>
                  <li>Football Teams, etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/images/sporting.jpg" class="card-img" alt="Sporting Garments printed">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
SECOND row-->
  <div class="row">
    <div class="col-6 p-1">
      <div class="card text-white bg-dark mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/images/mask.jpg" class="card-img" alt="Personilised Masks">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-warning font-weight-bolder text-center">Personalised Face Masks</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Personalisation</li>
                  <li>Sporting Teams</li>
                  <li>Personal Settings</li>
                  <li>Small, Medium & Large fit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 p-1">

      <div class="card text-white bg-secondary mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-warning font-weight-bolder text-center">Graduation Printing</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Leaver Hoodies</li>
                  <li>School Gym Sacs</li>
                  <li>School Gear</li>
                  <li>School T-Shirts, etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/images/school.jpg" class="card-img" alt="Personalised Graduation Garments">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
THIRD row-->
  <div class="row">
    <div class="col-6 p-1">
      <div class="card text-dark bg-warning mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/images/hens.jpg" class="card-img" alt="Hen/Stag do Garments">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bolder text-center">Hen & Stag Parties</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Custom Design</li>
                  <li>Hen/Stag Print Free</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 p-1">

      <div class="card text-white bg-dark mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-warning font-weight-bolder text-center">Replica Jersey Printing</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Name & Number Print</li>
                  <li>Premier League, SPL, Seria A,</li>
                  <p>La Liga, etc.</p>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/images/jersey.jpg" class="card-img" alt="Personilised replica jerseys">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
FOURTH row-->
  <div class="row">
    <div class="col-6 p-1">
      <div class="card text-white bg-secondary mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/images/flask.jpg" class="card-img" alt="Misc. printing options">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-warning font-weight-bolder text-center">Other Printing Options</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Hip Flasks <i class="fa fa-circle" style="font-size:8px"></i> Umbrellas</li>
                  <li>Mouse Mats <i class="fa fa-circle" style="font-size:8px"></i> Teddy Bears</li>
                  <li>Water Bottle Sleeve</li>
                  <li>High Vis/Glow in the Dark Print</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 p-1">

      <div class="card text-dark bg-warning mb-2" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bolder text-center">Special Occasions</h5>
              <div class="card-text text-center">
                <ul>
                  <li>Confirmations <i class="fa fa-circle" style="font-size:8px"></i> Communions</li>
                  <li>Birthdays <i class="fa fa-circle" style="font-size:8px"></i> Mothers/Fathers Day</li>
                  <li>Seasonal Printing</li>
                  <p style="font-size:80%">(St. Patrick's Day, Easter, Halloween, Christmas, etc.)</p>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/images/occasion.jpg" class="card-img" alt="Memorable moments printing">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
