page-container{
  padding: 1% 2% 1% 2%;
  object-fit: contain;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.card-gradient{
  background: linear-gradient(to top, #666633 0%, #ffcc00 100%);
}
